<!-- Organism: Gallery Grid -->
<!-- Usage: 2-column image gallery -->
<!-- Composed of: heading, gallery-image (molecule) x4 -->
<section class="organism-gallery py-16 px-margin-mobile bg-white">
  <h2 class="organism-gallery__title font-headline-sm text-trust-navy mb-6">Operations Hub</h2>
  
  <div class="organism-gallery__grid grid grid-cols-2 gap-3">
    <div class="aspect-square rounded-xl overflow-hidden">
      <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCazUs93WsFibUUUzgEtJ_QQ3bUBHWmUpK8OGUNWgrfR4HNmWXf1W_r5hpWXXVA5biTvB1HxQf2OvYz1cVYhOFJrzF-u8aWSc7DGUtQKxZ-g8JQkL5Rcvhln7gjHPotuiKwWCerJ5H0GolvMQY2e0K0ZcE51lXem8OGbNPt5U91w-1y0PgBIiPKl-OSpKqbyrcSqR4nZMEJkE7mDRQw5qEaEbtSDbb5gKbGEId1JDQBJxoNhfCxEjZwcqdPtOpj5ToFVTogqS0vofs" alt="Operations 1">
    </div>
    <div class="aspect-square rounded-xl overflow-hidden">
      <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBzlBSuOMgvLDxJmbSeB8ou6FRRZ10xdyUOfCKdQMJsCdIkl3Dtij47c0KaGxc_EwkOLz3gWOkWMLS5pF9b_ugAMc9N2fIHmyAV1EtyzKbAMUuSrUdHjO6vs6l6I93vpc5Ik5GrFNc_KjQj6I766QjS3J-6WfsiDNZjA9mFVWxPo_pjzXEzR_3dvDX7t8bo0pwjyFQcX1wOLlEbHKBspdSRAxIZ9Tw806WXnJGvxEbut2GaqbD_B8FRXRLZNADBov-w_cDzGiLcSgg" alt="Operations 2">
    </div>
    <div class="aspect-square rounded-xl overflow-hidden">
      <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBCUoDJpoqFmNSaAme2_S-tDaZ8JrjtUWxe_uPaoESfdMidvlTW5Dicg2rg75KyouTtMWE7-ewHVFcU-tqZEf9emBAQFIr_JTRob6sSH-zJHGOe0X9Dgp2IWD_yu5yasjokLSG8Qf1SbedROxpwRB4_6BTxUeWEAC_kz8SW0_U4WiBdI75jhEtCUvSF5H7SPU9VAuPQ5f-21CazkueEW1i9pFLBmd6e9cb2zKKVnmBtzJNThZkEdyKBvrjUAdAWPzErPSqPw8-pNLw" alt="Operations 3">
    </div>
    <div class="aspect-square rounded-xl overflow-hidden">
      <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuA3bTb5ABHOSOFXoWS5udLQehdvuHoRbH61mKKrjxYC85tufjZrliwjolj8_WTDOpKfGkCgtoRaSuHp62kr34101ki90_EkX7LK0IZBuw2zy0Bu9W5x_zuFy47yVzaYDjKHEV-hbNjzLwYpZJwvbw3_ou343-GnHSQCNXm1pwCzKF5he_lbfuAG_p7X_ajAXUHy8U3yVr3YkoRhG3VupZ-33s1Mgj4r2YQnUzQ8j2fbtvgzTC8Kox3WgSdAECTe2Oe-C34xNfk4t9E" alt="Operations 4">
    </div>
  </div>
</section>
